.btn {
	margin: 20px 20px;
}

.images {
	/* height:	180px; */
	/* width:	180px; */
	height: 100%;
	width: 100%;
}

.image-container{
	display: inline-block;
	height:	180px;
	width:	180px;
	margin:	10px;
}
